@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth leading-normal overflow-y-visible overflow-x-hidden text-lg bg-[#3d405b] font-monserrat;
    text-rendering: optimizeSpeed;
  }
  a,
  li {
    @apply text-white text-heading;
  }
}

@layer components {
  .container {
    margin: 1rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-overlay {
    margin: 0rem;
    background-color: black;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.pokemon-header {
  @apply font-semibold text-center text-heading tracking-[0.25rem] text-blue-light;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$types: (
  fairy: theme('colors.fairy'),
  fire: theme('colors.fire'),
  fighting: theme('colors.fighting'),
  dragon: theme('colors.dragon'),
  electric: theme('colors.electric'),
  grass: theme('colors.grass'),
  normal: theme('colors.normal'),
  bug: theme('colors.bug'),
  ice: theme('colors.ice'),
  water: theme('colors.water'),
  psychic: theme('colors.psychic'),
  poison: theme('colors.poison'),
  ghost: theme('colors.ghost'),
  ground: theme('colors.ground'),
  rock: theme('colors.rock'),
  steel: theme('colors.steel'),
  dark: theme('colors.dark'),
);

@each $type, $value in $types {
  [data-color='#{$type}'] {
    background-color: $value !important;
  }
}
