$clr-fairy: #f85888;
$clr-fire: #fb6c6c;
$clr-fighting: #fc5849;
$clr-dragon: #f5a018;
$clr-electric: #f6c747;
$clr-grass: #78c850;
$clr-normal: #a8a878;
$clr-bug: #48d0b0;
$clr-ice: #7ac7ff;
$clr-water: #429bed;
$clr-psychic: #7c538c;
$clr-poison: #9f5bba;
$clr-ghost: #7038f8;
$clr-ground: #795548;
$clr-rock: #b1736c;
$clr-steel: #bababa;
$clr-dark: #303943;
